button {
  border-radius: 100px;
  min-width: 150px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 700;
  font-family: 'Braah One';
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: text-bottom;

  &.small {
    padding: 0.3em 0.6em;
    font-size: 0.7em;
    font-weight: 500;
  }

  &.primary:disabled, &.secondary:disabled {
    background-color: gray;
    color: white;

    &.outline {
      background-color: none;
      color: gray;
      border-color: gray;
    }
    
    &:hover, &:active {
      border: 1px solid gray;
      filter: none;
      cursor: default;
      transition: 1s;
    }
  }

  &.primary {
    background-color: var(--primary-light);
    color: var(--primary-dark);

    &:hover {
      border-color: var(--primary-light);
      filter: drop-shadow(0 0 0.5em var(--primary-light));
    }

    &.outline {
      background: transparent;
      color: var(--primary-light);
      border: 2px solid var(--primary-light);
    }

    &:not(.outline, :disabled):active {
      background-color: var(--primary-dark);
      color: var(--primary-dark-light);
      border: 2px solid var(--primary-dark);
      filter: none;
      transform: translateY(2px);
    }

    &.outline:not(:disabled):active {
      color: var(--primary-dark);
      border: 2px solid var(--primary-dark);
      filter: none;
      transform: translateY(2px);
    }
  }

  &.secondary {
    background-color: var(--secondary);
    color: var(--secondary-dark);

    &:hover {
      border-color: var(--secondary);
      filter: drop-shadow(0 0 0.5em var(--secondary));
    }

    &.outline {
      background: transparent;
      color: var(--secondary);
      border: 2px solid var(--secondary);
    }

    &:not(.outline, :disabled):active {
      background-color: var(--secondary-dark);
      color: var(--secondary-dark-light);
      border: 2px solid var(--secondary-dark);
      filter: none;
      transform: translateY(2px);
    }

    &.outline:not(:disabled):active {
      color: var(--secondary-dark);
      border: 2px solid var(--secondary-dark);
      filter: none;
      transform: translateY(2px);
    }
  }
}
