@import '../../../breakpoints.scss';

@keyframes slideInFromBot {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 25px;
  position: relative;
  overflow: hidden;

  @include respond-to(default) {
    width: calc(100% - 1rem - 25px);
    margin-top: 2rem;
  }
  @include respond-to(xsmall) {
    width: calc(100% - 1rem - 25px);
    margin-top: 2rem;
  }
  @include respond-to(medium) {
    width: 25%;
  }

  &.primary {
    color: var(--primary-light);
    border: 2px solid var(--primary-light);

    &:hover {
      box-shadow: 0 0 15px var(--primary-light),
        inset 0 0 10px var(--primary-light);
    }
  }

  &.secondary {
    color: var(--secondary-light);
    border: 2px solid var(--secondary-light);

    &:hover {
      box-shadow: 0 0 15px var(--secondary-light),
        inset 0 0 10px var(--secondary-light);
    }
  }

  &.tertiary {
    color: var(--tertiary);
    border: 2px solid var(--tertiary);

    &:hover {
      // filter: drop-shadow(0 0 0.5em #00B6D5);
      box-shadow: 0 0 15px var(--tertiary), inset 0 0 10px var(--tertiary);
    }
  }

  .title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
  }

  .content {
    word-wrap: break-word;
  }

  .image {
    position: absolute;
    right: -30px;
    bottom: -40px;
    opacity: 0.2;
    shape-outside: circle(50%);
  }
}
