.dices-bet {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 282px;

  .input-box {
    &:not(:first-of-type) {
      margin-top: 10px;
    }

    .content-container {
      .up-and-down {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        font-size: 10px;
        cursor: pointer;
      }
    }

    .action-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.8rem;
      margin-top: 8px;
      width: 100%;

      .multipliers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        .half,
        .double,
        .max {
          text-align: center;
          min-width: 30px;
          padding: 2px 5px;
          margin-right: 5px;
          cursor: pointer;
          background-color: var(--secondary-dark);
          border-radius: 5px;

          &:hover {
            background-color: var(--primary-light);
            color: var(--primary-dark);
          }
        }
      }

      .reset {
        text-align: center;
        min-width: 30px;
        padding: 2px 5px;
        cursor: pointer;
        background-color: var(--primary-light);
        color: var(--primary-dark);
        border-radius: 5px;
      }
    }
  }

  .divider {
    align-self: center;
    margin-top: 20px;
    width: 80%;
    background-color: var(--secondary-dark);
    height: 2px;
    border-radius: 50px;
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: start;

  .title {
    font-size: 1.2rem;
    color: var(--secondary-dark);
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .content-container {
    max-width: 282px;
    width: calc(100% - 12px);
    height: 40px;
    background-color: var(--secondary-dark-light);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: none;
    font-size: 1.1rem;
    padding-left: 10px;
  }
}

.single-thumb {
  margin-top: -5px;
  background: var(--secondary-dark) !important;
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  border-top-right-radius: 0px !important;
  height: 5px !important;

  .range-slider__thumb[data-lower] {
    width: 0;
  }

  .range-slider__thumb[data-upper] {
    width: 15px;
    height: 15px;
    background: var(--primary-light) !important;

    &:hover {
      box-shadow: 0 0 15px var(--secondary-light),
        inset 0 0 10px var(--secondary-light);
    }
  }

  & .range-slider__range {
    border-bottom-left-radius: 10px;
    background: var(--primary-light) !important;
  }
}

//Chrome
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Mozilla
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
