@import "../../../../breakpoints.scss";

.dice-game-container {
  width: 100%;
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @include respond-to(default) {
    flex-direction: column;
    margin: 40px 10px;
  }
  @include respond-to(xsmall) {
    flex-direction: column;
    margin: 50px 10px;
  }
  @include respond-to(medium) {
    display: grid;
    grid-template-areas:
      "inputs bets"
      "outputs outputs";
    margin: 50px;
  }
  @include respond-to(large) {
    display: flex;
    flex-direction: row;
    margin: 50px;
  }

  .dices-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: inputs; // only for medium breakpoints

    .dices {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      @include respond-to(default) {
        grid-template-columns: 1fr 1fr;
      }
      @include respond-to(xsmall) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include respond-to(large) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .dice {
        cursor: pointer;
        padding: 10px;
        width: 60px;
        height: 60px;
        background-color: var(--secondary);
        border: 3px solid var(--secondary-dark);
        border-radius: 20px;
        transition: 0.5s;

        &:hover:not(.selected) {
          background-color: var(--secondary-dark);
          border: 3px solid var(--secondary);

          .point {
            background-color: var(--secondary);
          }
        }

        &.selected {
          background-color: var(--primary-light);
          border: 3px solid var(--primary-dark-light);

          .point {
            background-color: var(--primary-dark-light);
          }
        }

        .point {
          width: 15px;
          height: 15px;
          background-color: var(--secondary-dark);
          border-radius: 50%;
        }
      }

      .one-dice {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .two-dice {
        display: flex;
        justify-content: space-between;

        .point:nth-of-type(2) {
          align-self: flex-end;
        }
      }

      .three-dice {
        display: flex;
        justify-content: space-between;

        .point:nth-of-type(2) {
          align-self: center;
        }

        .point:nth-of-type(3) {
          align-self: flex-end;
        }
      }

      .four-dice,
      .six-dice {
        display: flex;
        justify-content: space-between;

        .point-col {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .five-dice {
        display: flex;
        justify-content: space-between;

        .point-col {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &:nth-of-type(2) {
            justify-content: center;
          }
        }
      }
    }

    .dice-outputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      width: 100%;
      margin-top: 20px;

      .output-box {
        .title {
          font-size: 1.2rem;
          color: var(--secondary-dark);
        }

        .content-container {
          width: 100%;
          height: 40px;
          background-color: var(--secondary-dark-light);
          border-radius: 7px;
          display: flex;
          align-items: center;

          .content-text {
            font-size: 1.1rem;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .dice-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: outputs; // only for medium breakpoints

    @include respond-to(default) {
      margin-top: 80px;
    }
    @include respond-to(xsmall) {
      margin-top: 80px;
    }
    @include respond-to(large) {
      margin-top: 0;
    }

    .gains {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 50px;

      @include respond-to(default) {
        grid-template-columns: 1fr;
        width: 100%;
      }
      @include respond-to(xsmall) {
        grid-template-columns: 1fr 1fr;
      }

      .title {
        font-size: 1.2rem;
        color: var(--secondary-dark);
      }

      .input-box {
        display: flex;
        flex-direction: column;
        align-items: start;

        .content-container {
          display: flex;
          align-items: center;

          height: 40px;
          width: 105px;
          max-width: 282px;
          padding-left: 10px;
          border-radius: 7px;
          font-size: 1.1rem;
          overflow-x: scroll;
          background-color: transparent;
          border: 2px solid var(--primary-light);
          color: white;

          @include respond-to(default) {
            width: 100%;
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    .threed-dice {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }

    .cta {
      width: 100%;

      @include respond-to(default) {
        width: 100%;
      }
      @include respond-to(xsmall) {
        width: 100%;
      }
      @include respond-to(medium) {
        width: 40%;
      }
      @include respond-to(large) {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  .dice-bets {
    align-self: flex-start;
    grid-area: bets; // only for medium breakpoints

    @include respond-to(default) {
      display: none;
    }
    @include respond-to(xsmall) {
      display: none;
    }
    @include respond-to(medium) {
      display: block;
    }
  }
}
