#root {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(116.82deg, rgba(51, 0, 51, 0.5) 0%, rgba(162, 7, 7, 0.5) 100%);
}

.main {
  padding: 10rem 10rem 10rem 10rem;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}