@import './breakpoints.scss';

#root {
  width: 100%;
  margin: 0 auto;
  background: var(--background);
}

.main {
  padding: 60px 10rem 0 10rem;

  @include respond-to(default) {
    padding: 60px 2rem;
  }
  @include respond-to(xsmall) {
    padding: 60px 2rem;
  }
  @include respond-to(small) {
    padding: 60px 2rem;
  }
  @include respond-to(medium) {
    padding: 60px 5rem 5rem 5rem;
  }
  @include respond-to(xmedium) {
    padding: 60px 10rem 5rem 10rem;
  }
  @include respond-to(large) {
    padding: 60px 10rem 15rem 10rem;
  }
  @include respond-to(xlarge) {
    padding: 60px 20rem 30rem 20rem;
  }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}